<div style="display: flex; justify-content: center; align-items: center;">
  <mat-card style="width: 600px; margin-top: 1%; align-items: center; margin-bottom: 1%;">
    <mat-card-header>
      <div class="avatar-container">
        <div class="image-container"
             [ngClass]="{'box-shadow-avatar': !!file}">
          <img class="image-container" src="{{usr.profile_Picture}}" style="object-fit: cover;"/>
        </div>

        <!--<label for="avatar-input-file">
          <div class="icon-wrapper">
            <input type="file" id="avatar-input-file" accept="image/*" (change)="onFileChange($event)" />
            <mat-icon class="icon" style="color:white;">edit</mat-icon>
          </div>
        </label>-->
        <br />

      </div>
    </mat-card-header>
    <mat-card-content>
      <h1 style="text-align:center; margin-bottom:5%;">
        {{adm.adminName}} {{adm.adminSurname}} <br /> <sub style="color: #747474">{{rl.description}}</sub>
        <br />
        <button mat-raised-button
                style="color:white; margin-top: 10px; font-size: 16px; width: 85px; background-color: #244688;"
                type="button" routerLink="/ProfileEdit">
          <mat-icon matPrefix
                    style="margin-right:10%;">edit</mat-icon>Edit
        </button>
      </h1>
      <!--<h4 style="text-align:center;"></h4>-->


      <table style="width: 450px; font-size: 18px; background-color: #b9ccf1; border-radius: 8px;  margin: 8px 0; display: inline-block; border: 2px solid #244688; box-sizing: border-box; ">
        <tr>
          <td style="padding: 12px 20px; display: inline-block; box-sizing: border-box; ">

            <label style="margin-left: 3px; margin-right: 3px; margin-bottom:2px;"> Username:</label>
            <br />
            <label style="margin-left: 3px; margin-right: 3px;">{{usr.username}}</label>

          </td>
          <mat-divider style="margin-left:20px; border-top-color: black; width: 400px; "></mat-divider>
        </tr>
        

        <tr>
          <td style="padding: 12px 20px; display: inline-block; box-sizing: border-box; ">

            <label style="margin-left: 3px; margin-right: 3px; margin-bottom:2px;"> Email:</label>
            <br />
            <label style="margin-left: 3px; margin-right: 3px;">{{adm.email}}</label>

          </td>
        </tr>
        <mat-divider style="margin-left:20px; border-top-color: black; width: 400px; "></mat-divider>

        <tr>
          <td style="padding: 12px 20px; display: inline-block; box-sizing: border-box; ">

            <label style="margin-left: 3px; margin-right: 3px; margin-bottom:2px;"> Phone Number:</label>
            <br />
            <label style="margin-left: 3px; margin-right: 3px;">{{adm.cellPhone_Num}}</label>

          </td>
        </tr>
      </table>

    </mat-card-content>
  </mat-card>
</div>
