 mat-tab-header {
    background-color: #244688;
  }

 .mdc-tab-indicator__content--underline {
        --mdc-tab-indicator-active-indicator-color: white; 
}


 .mdc-tab__text-label {
    color: white;
}

.content {
    top: 63px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
    border-top:1px solid;
    text-align: center;
   
}


td {
    width: 200px;
}

 .mat-mdc-tab-body-content {
    height:335px!important;
}

mat-error {
    display: none !important;
}

mat-error:first-child {
    display: block !important;
}

mat-form-field{
    width:350px
}


.file-upload {
    background-color: #244688;
    color: white;
    
}

label {
    margin-right: 20px;
    font-weight: 500;
    
}

#btnHover:hover {
    background-color: #fe4945;
  }
  
  #btnHover {
    background-color: #22afbe;
  }


mat-tab-group {
    border-left: 1px solid #244688;
    border-right: 1px solid #244688;
}