<mat-card style=" margin-top: 1%; align-items: center; margin-bottom: 1%; height:700px">
  <mat-card-content>
    <div style="display:block; width: 600px; height: 500px;">
      <image-cropper [imageChangedEvent]="imgChangeEvt"
                     [maintainAspectRatio]="false"
                     [aspectRatio]="4 / 4"
                     [resizeToWidth]="200"
                     [resizeToHeight]="200"
                     format="png"
                     (imageCropped)="cropImg($event)"
                     (imageLoaded)="imgLoad()"
                     (cropperReady)="initCropper()"
                     (loadImageFailed)="imgFailed()">
      </image-cropper>
    </div>
  </mat-card-content>
  <mat-card-actions style="display: flex; justify-content: center; align-items: center;">
   
    <button mat-raised-button [mat-dialog-close]="cropImgPreview"
            style="width: 150px; font-size: 14px; height: 42px; margin: 10px; background-color:#94CC5B; color: white;" >
      Save
    </button>
    <button mat-raised-button
            style="width: 150px; font-size: 14px; height: 42px; margin: 10px; background-color:#244688; color:white;"
            (click)="onCancel()">
      Cancel
    </button>
  </mat-card-actions>

</mat-card>




