
 <div class="content">
  <div style="display: inline-block; text-align: left;position: relative;width: 700px;">
    <h1 style="margin: 1%;  color: #244688; font-weight:700; font-size:32pt;">
      Create Vendor Onboard Request
    </h1>
    <div>  
    <label style="margin-left: 1%; margin-top:1%;color: #244688;font-size:16pt;">Please select one of the two options:</label>
    <br>
    <mat-radio-group (change)="radioButtonChange($event)">
      <mat-radio-button  checked value="true">General suppliers</mat-radio-button>
      <mat-radio-button value="false">Sole suppliers</mat-radio-button>
    </mat-radio-group>
    </div>

 
  <div>
      <div style="display: inline-block; text-align: left;position: relative;width: 700px;" *ngIf="selectedOption == 'true' ;Sole" #General>
      <mat-tab-group style="background-color: white;" #tabGroup [(selectedIndex)]=selectedIndex >
        <form [formGroup]="CompanyContactInfoFormGroup" >
        <mat-tab  formArrayName="RequestData" *ngFor="let data of rows.controls; let i = index;" > 
         <div [formGroupName]="i" style="width: 690px;">
          <ng-template  mat-tab-label > 
            <label style="color:white">Quotation {{i + 1}}</label>
          </ng-template> 
          <table style="margin-left: 1%;">
            <br>
          <tr>
            <td><label  for="name" style="margin-right: 1%;">Company Name:</label></td>
            <td> 
                <mat-form-field appearance="fill">
                    <input matInput placeholder="Company Name" id="CompanyName" formControlName="CompanyName" [errorStateMatcher]="matcher" >
                    <mat-error *ngIf="data.get('CompanyName')?.hasError('required')">Company name(s) is required</mat-error>
                    <mat-error *ngIf="data.get('CompanyName')?.hasError('maxlength')">Company name(s) cannot be more than 32 characters</mat-error>
                    <mat-error *ngIf="data.get('CompanyName')?.hasError('pattern')">Company name(s) is invalid</mat-error>
                  </mat-form-field>
            </td>
        </tr>
        <tr>
          <td><label  for="name" style="margin-right: 1%;">Company Email:</label></td>
          <td> 
              <mat-form-field appearance="fill">
                  <input matInput placeholder="Company Email" id="CompanyName" formControlName="CompanyEmail" [errorStateMatcher]="matcher" >
                  <mat-error *ngIf="data.get('CompanyEmail')?.hasError('required')">Company email is required</mat-error>
                  <mat-error *ngIf="data.get('CompanyEmail')?.hasError('maxlength')">Company email cannot be more than 32 characters</mat-error>
                  <mat-error *ngIf="data.get('CompanyEmail')?.hasError('email')">Company email is invalid</mat-error>
                </mat-form-field>
          </td>
      </tr>
        <tr>
          <td><label for="file" style="margin-right: 1%;">Company Quote: </label></td>
          <td>  
                <input id="file" type="file" class="file-upload" formControlName="CompanyQuote" (change)="onFileUpload(i,$event)">
          </td>
        </tr>
      <br>
      <tr>
        <td><label>Select as preferred vendor:</label></td>
        <td><mat-checkbox formControlName="PrefferedVendor" (click)="onPreferredChecked(i)" ></mat-checkbox></td>
      </tr>
      <tr>
        <td></td>
        <td>  
           <button mat-raised-button id="btnHover" [hidden]="i < 3" (click)="removeTab(i)" > Delete Quotation</button>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      </table> 
    </div>
         
        </mat-tab>
      </form>
        <mat-tab disabled>
          <ng-template  mat-tab-label> 
            <button mat-icon-button  (click)="addTab()">  <mat-icon style="color: white">add_box</mat-icon> </button>
          </ng-template>
        </mat-tab> 
       
      </mat-tab-group>
      <div  style="background-color: white;display: flex;border:1px solid #244688;border-top:0px solid white;">
        <button mat-raised-button (click)="Validate()" [disabled]="!CompanyContactInfoFormGroup.valid" style="margin:1%; display: flex; align-items: center; font-size: 16px; width: 110px;background-color: #94CC5B;"> Create  </button>
        <button mat-raised-button id="btnHover" routerLink="/request-view" style="margin:1%; display: flex; align-items: center; font-size: 16px; width: 110px;"> Cancel </button>
     </div>
    </div>
  </div>


    <!--  -->
    <div style="display: inline-block; text-align: left;position: relative;width: 700px;" *ngIf="selectedOption == 'false' ;General" #Sole>
      
      <form  [formGroup]="SoleSupplierFormGroup" style="background-color: white;border:1px solid #244688;border-top:48px solid #244688;" >
        <div style="margin-left:1%; margin-top:1%;margin-bottom: 20px;">
          <table>
            <br>
            <tr>
              <td><label for="name" style="margin-right: 1%;">Company name:</label></td>
              <td>
                <mat-form-field appearance="fill">
                  <input matInput placeholder="Company Name" id="CompanyName" formControlName="CompanyName" [errorStateMatcher]="matcher" >
                  <mat-error *ngIf="SoleSupplierFormGroup.controls['CompanyName'].hasError('required')">Company name is required</mat-error>
                  <mat-error *ngIf="SoleSupplierFormGroup.controls['CompanyName'].hasError('maxlength')">Company name cannot be more than 32 characters</mat-error>
                  <mat-error *ngIf="SoleSupplierFormGroup.controls['CompanyName'].hasError('pattern')">Company name is invalid</mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td><label  for="name" style="margin-right: 1%;">Company Email:</label></td>
              <td> 
                  <mat-form-field appearance="fill">
                      <input matInput placeholder="Company Email" id="CompanyName" formControlName="CompanyEmail" [errorStateMatcher]="matcher" >
                      <mat-error *ngIf="SoleSupplierFormGroup.get('CompanyEmail')?.hasError('required')">Company email is required</mat-error>
                      <mat-error *ngIf="SoleSupplierFormGroup.get('CompanyEmail')?.hasError('maxlength')">Company email cannot be more than 32 characters</mat-error>
                      <mat-error *ngIf="SoleSupplierFormGroup.get('CompanyEmail')?.hasError('email')">Company email is invalid</mat-error>
                    </mat-form-field>
              </td>
          </tr>
            <tr>
              <td><label for="reason" style="margin-right: 1%;">Reason:</label></td>
              <td>
                <mat-form-field appearance="fill">
                  <input matInput placeholder="Reason" id="Reason" formControlName="Reason" [errorStateMatcher]="matcher" >
                  <mat-error *ngIf="SoleSupplierFormGroup.controls['Reason'].hasError('required')">Reason is required</mat-error>
                  <mat-error *ngIf="SoleSupplierFormGroup.controls['Reason'].hasError('maxlength')">cannot be more than 32 characters</mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td><label for="file" style="margin-right: 1%;">Company Quote: </label></td>
              <td>
                <input id="file" type="file" class="file-upload"  formControlName="CompanyQuote" (change)="onFileUpload(0,$event)">
              </td>
            </tr>
            <br>
          </table>
        </div>
        <div style="display: flex;">
        <button mat-raised-button style="margin: 1%;" (click)="SoleSupplierValidation()" [disabled]="!SoleSupplierFormGroup.valid" style="margin:1%; display: flex; align-items: center; font-size: 16px; width: 110px;background-color: #94CC5B;" > Create  </button>
        <button mat-raised-button style="margin: 1%;" id="btnHover" routerLink="/request-view" style="margin:1%; display: flex; align-items: center; font-size: 16px; width: 110px;"> Cancel </button>
      </div>
      </form>
      
    </div>
  
  
  
  </div>
</div> 
