<mat-sidenav-container class="main-sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav-container">
    <mat-nav-list>

      <div mat-list-item style="display: flex; align-items: center;">
        <mat-icon aria-hidden="false" aria-label="admin icon" fontIcon="admin_panel_settings"
          style="width:30px; height: 44px; margin-left: 5%;"></mat-icon>
        <h2 class="uni-font">Administration</h2>
      </div>

      <a mat-list-item class="uni-font" routerLink="/ViewEmployee">Employees</a>
      <a mat-list-item class="uni-font" routerLink="/ViewAdmin">Admins</a>
      <a mat-list-item class="uni-font" routerLink="/ViewEmpRole">Roles</a>
      <a mat-list-item class="uni-font">Departments</a>
      <a mat-list-item class="uni-font">Branch</a>
      <a mat-list-item class="uni-font">Delegation of Authority</a>
      <a mat-list-item class="uni-font">Mandate Limits</a>
      <a mat-list-item class="uni-font">Manage Help</a>
      <a mat-list-item class="uni-font">Settings</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="Main-content">
    <h1 style="margin-left: 1%; margin-top:1%; color: #244688; font-weight:700; font-size:32pt;">
      Manage Admins
    </h1>

    <div mat-list-item style="margin-left: 0.5%; display: flex;  align-items: center; ">

      <button mat-raised-button
        style="width: 200px; font-size: 14px; height: 42px; margin: 10px; background-color:#244688; color:white;"
        routerLink="/AddAdmin">
        Create Admin
      </button>

      <span style="flex: 1 1 auto;"></span>

      <mat-form-field appearance="fill"
        style=" float:right; font-size: 12px; width: 300px; margin-top:0.5%; margin-right:1%;">
        <mat-label>Search</mat-label>
        <<<<<<< HEAD <input matInput (keyup)="search()" [(ngModel)]="searchWord" />
        =======
        <input matInput />
        <mat-icon matSuffix>search</mat-icon>


        <div style="margin-right:1%; margin-left:1%;">
          <<<<<<< HEAD <table mat-table [dataSource]="SearchedAdmin" class="mat-elevation-z8">
            =======
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              >>>>>>> Bupe

              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef style="color:white; font-weight:600;"> No. </th>
                <td mat-cell *matCellDef="let Admins">{{Admins.admin_ID}}</td>
              </ng-container>

              <!-- name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef style="color:white; font-weight:600;"> Name </th>
                <td mat-cell *matCellDef="let Admins"> {{Admins.adminName}} </td>
              </ng-container>


              <ng-container matColumnDef="surname">
                <th mat-header-cell *matHeaderCellDef style="color: white; font-weight: 600;"> Surname </th>
                <td mat-cell *matCellDef="let Admins"> {{Admins.adminSurname}} </td>
              </ng-container>

              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef style="color: white; font-weight: 600;"> Email </th>
                <td mat-cell *matCellDef="let Admins"> {{Admins.email}} </td>
              </ng-container>

              <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef style="color: white; font-weight: 600;"> Phone Number </th>
                <td mat-cell *matCellDef="let Admins"> {{Admins.cellPhone_Num}} </td>
              </ng-container>

              <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef style="color: white; font-weight: 600;"> Role </th>
                <td mat-cell *matCellDef="let Admins"> {{Admins.user.role.name}} </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let Admins" style="width:100px;">
                  <button mat-raised-button
                    style="margin-right: 5%; display: flex; align-items: center; font-size: 16px; width: 85px; margin-top: 0.5%; background-color: #94CC5B;"
                    [routerLink]="['/EditAdm', Admins.user_Id]" type="button"><mat-icon matPrefix
                      style="margin-right:10%;">edit</mat-icon>Edit</button>
                </td>
              </ng-container>

              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let Admins" style="width:140px;">
                  <button mat-raised-button
                    style="margin-right: 5%; display: flex; align-items: center; font-size: 16px; width: 110px; margin-top: 0.5%; background-color: #FE4945;"
                    (click)="DeleteAdmin(Admins.user_Id)"><mat-icon matPrefix
                      style="margin-right:10%;">delete</mat-icon>Delete</button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color:#244688;"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>



  </mat-sidenav-content>
</mat-sidenav-container>