.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .file-upload {
    background-color: #244688;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
  }