<mat-sidenav-container class="main-sidenav-container">
    <mat-sidenav-content class="Main-content">
      <h1 style="margin-left: 1%; margin-top:1%; color: #244688; font-weight:700; font-size:32pt;">
        View Help
      </h1>
  
      <div mat-list-item style="margin-left: 0.5%; display: flex;  align-items: center; ">

        <button mat-raised-button matTooltip="This will direct you to the User Manual PDF, where you can find information regarding the entire system"
          style="width: 200px; font-size: 14px; height: 42px; margin: 10px; background-color:#244688; color:white;"
          (click)="openUserManualInNewTab()">
          View User Manual
        </button>
  
        <span style="flex: 1 1 auto;"></span>
  
        <mat-form-field appearance="fill"
          style=" float:right; font-size: 12px; width: 300px; margin-top:0.5%; margin-right:1%;">
          <mat-label>Search by Name</mat-label>
          <input matInput (keyup)="search()" [(ngModel)]="searchWord" />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
  
      </div>
  
      <div class="d-flex justify-content-center">
        <span class="loader" id="loading"></span>
      </div>


      <div style="margin-right:1%; margin-left:1%;">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" id="table">

          <!-- <ng-container matColumnDef="help_ID">
      <th mat-header-cell *matHeaderCellDef style="color:white; font-weight:600;"> No. </th>
      <td mat-cell *matCellDef="let Helps">{{Helps.help_ID}}</td>
    </ng-container> -->

          <ng-container matColumnDef="helpCategory">
            <th mat-header-cell *matHeaderCellDef style="color: white; font-weight: 600;"> Category </th>
            <td mat-cell *matCellDef="let Helps"> {{Helps.help_Category.name}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef style="color:white; font-weight:600;"> Name </th>
            <td mat-cell *matCellDef="let Helps"> {{Helps.name}} </td>
          </ng-container>


          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef style="color: white; font-weight: 600;"> Description </th>
            <td mat-cell *matCellDef="let Helps"> {{Helps.description}} </td>
          </ng-container>


          <!--Files for Video-->
          <ng-container matColumnDef="video">
            <th mat-header-cell *matHeaderCellDef style="color: white; font-weight: 600;"> Video </th>
            <td mat-cell *matCellDef="let Helps; let i = index;">
              <a (click)="openVideoInNewTab(vFileDetails[i].FileURL)" style="cursor: pointer; color: rgb(65, 143, 227);" matTooltip="This will allow you to view the help video regarding this specific help section">{{vFileDetails[i].FileName}}</a>
            </td>
          </ng-container>

          <!--Files for User_Manual-->
          <ng-container matColumnDef="user_Manual">
            <th mat-header-cell *matHeaderCellDef style="color: white; font-weight: 600;"> User Manual </th>
            <td mat-cell *matCellDef="let Helps; let i = index;">
              <a (click)="openPDFInNewTab(i)" target="_blank" style="color: rgb(65, 143, 227);" matTooltip="This will direct you to the User Manual PDF, where you can find information regarding the entire system">{{FileDetails[i].FileName}}</a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsUser" style="background-color:#244688;"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsUser;"></tr>
        </table>
        <mat-paginator style="background-color: #eee;" [length]="100" [pageSize]="10"
                       [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
        </mat-paginator>
      </div>


    </mat-sidenav-content>
  </mat-sidenav-container>
