<mat-tab-group (selectedTabChange)="onTabChange($event)">
    <mat-tab label="Upload Invoice">
        <ng-template matTabContent>
            <div style="margin: 10px;">
              <form [formGroup]="myForm" (submit)="onSubmit()">
                <div>
                  <h2>Upload an Invoice file</h2>
                  <input type="file" id="FileAdded" placeholder="" formControlName="FileAdded"
                         style="border: solid #244688; border-radius: 5px; " accept=".pdf"
                         (change)="onFileUpload($event)" required>
                </div>
                <div style="margin-top: 10px;">
                  <button mat-raised-button [disabled]="!myForm.valid"
                          style="color: white; background-color: #94CC5B; margin-right: 20px; margin-left: 10px;">
                    Upload Files
                  </button>
                  <button mat-raised-button type="button" (click)="Close()" style="color: white; background-color: #244688;">Cancel</button>
                </div>
                
                
                <!--<button mat-raised-button type="button" (click)="Close()" class="CloseButton"
                        style="margin-left: 5px; margin-top: 10px;">
                  Close
                </button>-->
              </form>

            </div>
        </ng-template>
    </mat-tab>
</mat-tab-group>
