<div style="display: flex; justify-content: center; align-items: center;">
    <mat-card style="width: 600px; margin-top: 1%; align-items: center; ">
        <form [formGroup]="budgetAllocationForm" novalidate fxLayout="column wrap" fxLayoutAlign="center center"
            fxLayoutGap="10px" (ngSubmit)="onSubmit()">
            <mat-card-header>
                <mat-card-title
                    style="color: #244688; font-weight:700; font-size:32pt; margin-bottom:5%; text-align:center;">Edit
                    Budget Allocation</mat-card-title>
                    <mat-icon (click)="openEditBATab()" aria-hidden="false" aria-label="admin icon" fontIcon="help"
        style="font-size:30pt; height: 37px; width: 37px;" [ngStyle]="{'color':'#244688'}" matTooltip="Need help? Click me!"></mat-icon>
                <mat-card-subtitle>
                    <table style="width:100%;" cellspacing="0">
                        <tr>
                            <td style="width:100%;">
                                <mat-card-content>
                                    <label style=" color:black;">Date Created:</label>
                                    <br />
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="picker" placeholder="Choose a date"
                                            formControlName="date_Created" id="date_Created"
                                            [(ngModel)]="budgetAllocation.date_Created" required>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </mat-card-content>
                            </td>
                            <td style="width:100%;">
                                <mat-card-content>
                                    <label style=" color:black;">Total (R):</label>
                                    <br />
                                    <mat-form-field>
                                        <input matInput type="text" placeholder="" formControlName="total" id="total"
                                            [(ngModel)]="budgetAllocation.total" required>
                                        <mat-error *ngIf="myError('total', 'pattern')">Total must be in
                                            numbers.</mat-error>
                                        <mat-error *ngIf="myError('total', 'minlength')">Total must be 3 to 12
                                            characters
                                            long</mat-error>
                                        <mat-error *ngIf="myError('total', 'maxlength')">Limit
                                            exceeded</mat-error>
                                    </mat-form-field>
                                </mat-card-content>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-card-content>
                                    <label style=" color:black;">Year:</label>
                                    <br />
                                    <mat-form-field>
                                        <input matInput type="text" placeholder="" formControlName="year" id="year"
                                            [(ngModel)]="budgetAllocation.year" required>
                                        <mat-error *ngIf="myError('year', 'pattern')">Year must be in
                                            numbers.</mat-error>
                                        <mat-error *ngIf="myError('year', 'pattern')">Year must be 4 characters
                                            long.</mat-error>
                                        <mat-error *ngIf="myError('year', 'minlength')">Year must be 4 characters
                                            long.</mat-error>
                                    </mat-form-field>
                                </mat-card-content>
                            </td>
                            <td>
                                <mat-card-content>
                                    <label style=" color:black;">Department:</label>
                                    <br />
                                    <mat-form-field>
                                        <mat-label>Choose one</mat-label>
                                        <mat-select formControlName="department_ID" required>
                                            <mat-option>---</mat-option>
                                            <mat-option *ngFor="let dep of departments"
                                                [value]="dep.department_ID">{{dep.name}}</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="myError('department_ID', 'required')">Please choose a
                                            department</mat-error>
                                    </mat-form-field>
                                </mat-card-content>
                            </td>
                        </tr>
                    </table>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions style="display: flex; justify-content: center; align-items: center; margin-top: 5%;">
              <!--<button mat-raised-button type="submit"
                      style="width: 150px; font-size: 14px; height: 42px; margin: 10px;"
                      [disabled]="!budgetAllocationForm.valid"
                      [ngStyle]="{'background-color': !budgetAllocationForm.valid ? 'rgba(148, 204, 91, 0.6)' : '#94CC5B','color': !budgetAllocationForm.valid ? 'rgba(255, 255, 255, 0.6)' : 'white'}">
                Save
              </button>-->

              <div class="wrapper">
                <button class="" type="submit" [disabled]="!budgetAllocationForm.valid">
                  <span>Save</span>
                  <div class="success">
                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 29.756 29.756" style="enable-background:new 0 0 29.756 29.756;" xml:space="preserve">
                    <path d="M29.049,5.009L28.19,4.151c-0.943-0.945-2.488-0.945-3.434,0L10.172,18.737l-5.175-5.173   c-0.943-0.944-2.489-0.944-3.432,0.001l-0.858,0.857c-0.943,0.944-0.943,2.489,0,3.433l7.744,7.752   c0.944,0.943,2.489,0.943,3.433,0L29.049,8.442C29.991,7.498,29.991,5.953,29.049,5.009z" />
                </svg>
                  </div>
                </button>
              </div>

              <button mat-raised-button id="cBtn"
                      style="width: 150px; font-size: 14px; height: 42px; margin: 10px; background-color: #244688; color: white; border: 3px solid #244688;"
                      (click)="onCancel()">
                Cancel
              </button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>
