<h1 mat-dialog-title style="color: white; background-color: #244688; text-align: center; display: flex; justify-content: space-between;"
    *ngIf="showConfirmationDialog == true">
  DELETE ADMIN
  <mat-icon (click)="openDeleteAdminTab()" aria-hidden="false" aria-label="admin icon" fontIcon="help"
  style="font-size:30pt; height: 37px; width: 37px; cursor: pointer;" [ngStyle]="{'color':'white'}" matTooltip="Need help? Click me!"></mat-icon>
</h1>
<div mat-dialog-content *ngIf="showConfirmationDialog == true">
  <p>You are about to delete the admin: <strong>{{Admin.adminName}}</strong></p>
  <p>Are you sure you want to continue?</p>
</div>
<div mat-dialog-actions align="end" *ngIf="showConfirmationDialog == true">
  <button mat-raised-button (click)="onConfirm(data.userID)" style="color: white; background-color: #94CC5B;">Yes</button>
  <button mat-raised-button (click)="onCancel()" style="color: white; background-color: #244688;">Cancel</button>
</div>

<ng-container *ngIf="showSuccessDialog == true">
  <h1 mat-dialog-title style="color: white; background-color: #244688; text-align: center;">Delete Successful</h1>
  <div mat-dialog-content>
    <p>The admin "{{ Admin.adminName }}" has been <strong style="color:red">DELETED</strong> successfully.</p>
  </div>
</ng-container>
