<div style="display: flex; justify-content: center; align-items: center;">
  <mat-card style="width: 600px; margin-top: 1%; align-items: center; ">
    <form [formGroup]="myForm" novalidate fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px"
          (ngSubmit)="onSubmit()">
      <mat-card-header>
        <mat-card-title style="color: #244688; font-weight:700; font-size:32pt; margin-bottom:5%; text-align:center;">
          Edit Delegation
          <mat-icon (click)="openEditDelegationTab()" aria-hidden="false" aria-label="admin icon" fontIcon="help"
          style="font-size:30pt; height: 37px; width: 37px;" [ngStyle]="{'color':'#244688'}" matTooltip="Need help? Click me!"></mat-icon>
        </mat-card-title>
        <mat-card-subtitle>

          <table style="width:100%;" cellspacing="0">

            <tr>
              <td style="width:100%;">
                <mat-card-content>
                  <label style=" color:black;" for="DelegatingName">Delegating Party:</label>
                  <br />
                  <mat-form-field>
                    <input matInput type="text" placeholder="" formControlName="DelegatingName" id="DelegatingName" [readonly]="true">
                  </mat-form-field>
                </mat-card-content>
              </td>

              <td style="width:100%;">
                <mat-card-content>
                  <label style=" color: black;">Delegate:</label>
                  <br />
                  <mat-form-field>
                    <input matInput type="text" placeholder="" [formControl]="myControl" id="DelegateName"
                           [matAutocomplete]="auto" [value]="delegation.user.username" required>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)='getPosts($event.option.value)'>
                      <mat-option *ngFor="let u of SearchedOptions | async" [value]="u.username">
                        {{u.username}}
                      </mat-option>
                    </mat-autocomplete>
                    <mat-hint align="end">Not more then 50 characters long.</mat-hint>
                    <mat-error *ngIf="myControlError('required')">Name is required</mat-error>
                    <mat-error *ngIf="myControlError('maxlength')">Limit exceed</mat-error>
                    <mat-error *ngIf="myControlError('minlength')">
                      Delegate name must be 2 to 50 characters
                      long
                    </mat-error>
                  </mat-form-field>
                </mat-card-content>
              </td>
            </tr>

            <tr>
              <td style="width:100%;">
                <mat-card-content>
                  <label style=" color:black;">Date Range:</label>
                  <br />
                  <mat-form-field>
                    <mat-date-range-input [formGroup]="myForm" [rangePicker]="picker">
                      <input matStartDate formControlName="start" placeholder="Start date">
                      <input matEndDate formControlName="end" placeholder="End date">
                    </mat-date-range-input>
                    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>

                    <mat-error *ngIf="myForm.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                    <mat-error *ngIf="myForm.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                  </mat-form-field>
                </mat-card-content>
              </td>
            </tr>

            <tr>
              <td style="width:100%;">
                <mat-card-content>
                  <label style=" color:black;">Delegation Document:</label>
                  <br />

                  <input type="file" id="file" placeholder="" formControlName="DelegationFile" style="border: solid #244688; border-radius: 5px; "
                         accept=".pdf" (change)="onFileUpload($event)" required>

                </mat-card-content>
              </td>
            </tr>
          </table>


        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions style="display: flex; justify-content: center; align-items: center; margin-top: 5%;">

        <div class="wrapper">
          <button class="" id="AnimationBtn" type="submit" [disabled]="!myForm.valid">
            <span>Save</span>
            <div class="success">
              <svg xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 29.756 29.756" style="enable-background:new 0 0 29.756 29.756;" xml:space="preserve">
              <path d="M29.049,5.009L28.19,4.151c-0.943-0.945-2.488-0.945-3.434,0L10.172,18.737l-5.175-5.173   c-0.943-0.944-2.489-0.944-3.432,0.001l-0.858,0.857c-0.943,0.944-0.943,2.489,0,3.433l7.744,7.752   c0.944,0.943,2.489,0.943,3.433,0L29.049,8.442C29.991,7.498,29.991,5.953,29.049,5.009z" />
                </svg>
            </div>
          </button>
        </div>

        <button mat-raised-button id="cBtn"
                style="width: 150px; font-size: 14px; height: 42px; margin: 10px; background-color: #244688; color: white; border: 3px solid #244688;  "
                (click)="Close()">
          Cancel
        </button>

        <!--<button mat-raised-button type="submit"
          style="width: 150px; font-size: 14px; height: 42px; margin: 10px; background-color:#94CC5B; color: white;"
          [disabled]="!myForm.valid">Save</button>
        <button mat-raised-button
          style="width: 150px; font-size: 14px; height: 42px; margin: 10px; background-color:#244688; color:white;"
          (click)="Close()">Cancel</button>-->
      </mat-card-actions>
    </form>
  </mat-card>
</div>
