<div style="display: flex; justify-content: center; align-items: center;">
  <mat-card style="width: 600px; margin-top: 1%; align-items: center; margin-bottom: 1%;">
    <form [formGroup]="myForm" novalidate fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px"
      (ngSubmit)="onSubmit()">
      <mat-card-header>
        <mat-card-title
          style="color: #244688; font-weight:700; font-size:32pt; margin-bottom:5%; text-align:center;">Create
          Employee</mat-card-title>
        <mat-card-subtitle>

          <table style="width:100%;" cellspacing="0">
            <tr>
              <td style="width:100%;">
                <mat-card-content>
                  <label style=" color:black;">Name:</label>
                  <br />
                  <mat-form-field>
                    <input matInput type="text" placeholder="E.g. John" formControlName="EmployeeName" id="EmployeeName"
                           required>
                    <mat-hint align="end">Not more than 32 characters long.</mat-hint>
                    <mat-error *ngIf="myError('EmployeeName', 'required')">Name is required</mat-error>
                    <mat-error *ngIf="myError('EmployeeName', 'maxlength')">Limit exceed</mat-error>
                    <mat-error *ngIf="myError('EmployeeName', 'minlength')">
                      Name must be 2 to 32 characters
                      long
                    </mat-error>
                    <mat-error *ngIf="myError('EmployeeName', 'pattern')">Name can not contain numbers</mat-error>
                  </mat-form-field>
                </mat-card-content>
              </td>
              <td style="width:100%;">
                <mat-card-content>
                  <label style=" color: black;">Surname:</label>
                  <br />
                  <mat-form-field>
                    <input matInput type="text" placeholder="E.g. Doe" formControlName="EmployeeSurname"
                           id="EmployeeSurname" required>
                    <mat-hint align="end">Not more than 50 characters long.</mat-hint>
                    <mat-error *ngIf="myError('EmployeeSurname', 'required')">Surname is required</mat-error>
                    <mat-error *ngIf="myError('EmployeeSurname', 'maxlength')">Limit exceed</mat-error>
                    <mat-error *ngIf="myError('EmployeeSurname', 'pattern')">Surname can not contain numbers</mat-error>
                    <mat-error *ngIf="myError('EmployeeSurname', 'minlength')">
                      Surname must be 2 to 50 characters
                      long
                    </mat-error>
                  </mat-form-field>
                </mat-card-content>
              </td>
            </tr>
            <tr>
              <td style="width:100%;">
                <mat-card-content>
                  <label style=" color:black;">Email:</label>
                  <br />
                  <mat-form-field>
                    <input matInput type="email" placeholder="E.g. example@gmail.com" formControlName="Email" id="Email"
                           required>
                    <mat-error *ngIf="myError('Email', 'required')">Email is required</mat-error>
                    <mat-error *ngIf="myError('Email', 'maxlength')">Limit exceed</mat-error>
                    <mat-error *ngIf="myError('Email', 'email')">Enter a valid email</mat-error>
                  </mat-form-field>
                </mat-card-content>
              </td>
              <td style="width:100%;">
                <mat-card-content>
                  <label style=" color:black;">Phone Number:</label>
                  <br />
                  <mat-form-field>
                    <input matInput type="text" placeholder="E.g. 082 123 4567" formControlName="CellPhone_Num"
                           id="CellPhone_Num" required>
                    <mat-hint align="end">Please include spaces as shown in the placeholder.</mat-hint>
                    <mat-error *ngIf="myError('CellPhone_Num', 'required')">Phone is required</mat-error>
                    <mat-error *ngIf="myError('CellPhone_Num', 'maxlength')">Limit exceed</mat-error>
                    <mat-error *ngIf="myError('CellPhone_Num', 'minlength')">Phone number must be 10 numbers</mat-error>
                    <mat-error *ngIf="myError('CellPhone_Num', 'pattern')">Please enter a valid phone number</mat-error>
                  </mat-form-field>
                </mat-card-content>
              </td>
            </tr>
            <tr>
              <td style="width:100%;">
                <mat-card-content>
                  <label style=" color:black;">Role:</label>
                  <br />
                  <mat-form-field>
                    <mat-label>Choose one</mat-label>
                    <mat-select formControlName="Role_ID" required>
                      <mat-option>---</mat-option>
                      <mat-option *ngFor="let role of roles" [value]="role">{{role.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="myError('Role_ID', 'required')">Please choose a role</mat-error>
                  </mat-form-field>
                </mat-card-content>
              </td>
              <td style="width:100%;">
                <mat-card-content>
                  <label style=" color:black;">Mandate Limit:</label>
                  <br />
                  <mat-form-field>
                    <mat-label>Choose one</mat-label>
                    <mat-select formControlName="Mandate_ID" required>
                      <mat-option>---</mat-option>
                      <mat-option *ngFor="let ml of mandate_limits" [value]="ml">{{ml.ammount}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="myError('Mandate_ID', 'required')">Please choose a mandate limit</mat-error>
                    <mat-hint align="end">Employee spend limit.</mat-hint>
                  </mat-form-field>
                </mat-card-content>
              </td>
            </tr>
            <tr>
              <td style="width:100%;">
                <mat-card-content>
                  <label style=" color:black;">Department:</label>
                  <br />
                  <mat-form-field>
                    <mat-label>Choose one</mat-label>
                    <mat-select formControlName="Department_ID" required>
                      <mat-option>---</mat-option>
                      <mat-option *ngFor="let dep of departments" [value]="dep">{{dep.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="myError('Department_ID', 'required')">Please choose a department</mat-error>
                  </mat-form-field>
                </mat-card-content>
              </td>
              <td style="width:100%;">
                <mat-card-content>
                  <label style=" color:black;">Branch:</label>
                  <br />
                  <mat-form-field>
                    <mat-label>Choose one</mat-label>
                    <mat-select formControlName="Branch_ID" required>
                      <mat-option>---</mat-option>
                      <mat-option *ngFor="let branch of branches" [value]="branch">{{branch.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="myError('Branch_ID', 'required')">Please choose a branch</mat-error>
                  </mat-form-field>
                </mat-card-content>
              </td>
            </tr>
          </table>

          <div class="d-flex justify-content-center">
            <span class="loader" id="loading"></span>
          </div>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions style="display: flex; justify-content: center; align-items: center; margin-top: 5%;">
        <button mat-raised-button type="submit"
          style="width: 150px; font-size: 14px; height: 42px; margin: 10px; background-color:#94CC5B; color: white;"
          [disabled]="!myForm.valid">Save</button>
        <button mat-raised-button
          style="width: 150px; font-size: 14px; height: 42px; margin: 10px; background-color:#244688; color:white;"
          (click)="Close()">Cancel</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
