<div class="content" *ngIf="ProcurementRequestDetails != undefined">
  <div style="display: inline-block; text-align: left;position: relative;width: 700px;" *ngIf="ProcurementRequestDetails.vendor.vendor_Status_ID == 6;">
    <h1 style="margin: 1%;  color: #244688; font-weight:700; font-size:24pt;" >
        <button  mat-raised-button routerLink="/ViewPendingProcurementRequest" style="float:left; background-color:#244688; color:white;margin-right: 1%;"><mat-icon style="margin-right: 0px;">arrow_back</mat-icon></button>
        Procurement Request For {{ProcurementRequestDetails.vendor.name}}
      </h1>
    <div>  
  <div>
      <div style="display: inline-block; text-align: left;position: relative;width: 700px;" > 
      <mat-tab-group style="background-color: white;">
        <form [formGroup]="VendorFormGroup">  
            <mat-tab > 
             <div>
              <ng-template  mat-tab-label > 
                <label style="margin-left: 1%; margin-top:1%;color: white;font-size:16pt;">Please Approve or Reject the Procurement Request</label>
              </ng-template> 
              <table style="margin-left: 1%;">
                <br>
              <tr>
                <td><label  for="name" style="margin-right: 1%;">Company Name:</label></td>
                <td> 
                    <mat-form-field appearance="fill" style="width: 310px;">
                        <input matInput placeholder="Company Name" id="CompanyName" formControlName="CompanyName" readonly="true">
                      </mat-form-field>
                </td>
            </tr>
            <tr>
              <td><label  for="name" style="margin-right: 1%;">Company Email:</label></td>
              <td> 
                  <mat-form-field appearance="fill" style="width: 310px;">
                      <input matInput placeholder="Company Email" id="CompanyName" formControlName="CompanyEmail" readonly="true" >
                    </mat-form-field>
              </td>
          </tr>
          <tr>
            <td><label  for="name" style="margin-right: 1%;">Description:</label></td>
            <td> 
                <mat-form-field appearance="fill" style="width: 310px;">
                    <textarea matInput formControlName="Description" readonly="true" ></textarea>
                  </mat-form-field>
            </td>
          </tr>
          <tr *ngIf="FileDetails[0] != undefined">
            <td><label for="file" style="margin-right: 1%;">Preffered Quote: </label></td>
            <td>
                  <a id="btnLink" (click)="openPDFInNewTab(0)" target="_blank">{{FileDetails[0].FileName}}</a> 
            </td>
           <tr>
            <tr *ngIf="FileDetails[0] != undefined">
                <td><label for="file" style="margin-right: 1%;">Comparative  Quote 1: </label></td>
                <td>
                      <a id="btnLink" (click)="openPDFInNewTab(1)" target="_blank">{{FileDetails[0].FileName}}</a> 
                </td>
            <tr>
                <tr *ngIf="FileDetails[0] != undefined">
                    <td><label for="file" style="margin-right: 1%;">Comparative Quote 2: </label></td>
                    <td>
                          <a id="btnLink" (click)="openPDFInNewTab(2)" target="_blank" >{{FileDetails[0].FileName}}</a> 
                    </td>
                </tr>
          </table> 
          <br>
        </div>
             
            </mat-tab>
          </form>        
      </mat-tab-group>
      <div  style="background-color: white;display: flex;border-left:1px solid #244688;border-right:1px solid #244688;border-bottom:1px solid #244688;">
        <button mat-raised-button style="margin:1%; display: flex; align-items: center; font-size: 16px; width: 160px;background-color: #244688;color: white;" (click)="AcceptRequest()"> Accept Request</button>
        <button mat-raised-button id="btnHover" style="margin:1%; display: flex; align-items: center; font-size: 16px; width: 160px;" (click)="RejectRequest()"> Reject Request </button>
     </div>
    </div>
  </div> 
  
  
  </div>





</div>
<!--  -->
<div style="display: inline-block; text-align: left;position: relative;width: 700px;" *ngIf="ProcurementRequestDetails.vendor.vendor_Status_ID != 6" >
  <h1 style="margin: 1%;  color: #244688; font-weight:700; font-size:20pt;" >
    <button  mat-raised-button routerLink="/ViewPendingProcurementRequest" style="float:left; background-color:#244688; color:white;margin-right: 1%;"><mat-icon style="margin-right: 0px;">arrow_back</mat-icon></button>
    Procurement Request For {{ProcurementRequestDetails.vendor.name}}
  </h1>
  <div>  
<div>
    <div style="display: inline-block; text-align: left;position: relative;width: 700px;" > 
    <mat-tab-group style="background-color: white;">
      <form [formGroup]="VendorFormGroup">  
      <mat-tab > 
       <div>
        <ng-template  mat-tab-label > 
            <label style="margin-left: 1%; margin-top:1%;color: White;font-size:16pt;">Please Approve or Reject the Procurement Request</label>
        </ng-template> 
        <table style="margin-left: 1%;">
          <br>
        <tr>
          <td><label  for="name" style="margin-right: 1%;">Company Name:</label></td>
          <td> 
              <mat-form-field appearance="fill" style="width: 310px;">
                  <input matInput formControlName="CompanyName" readonly="true">
                </mat-form-field>
          </td>
      </tr>
      <tr>
        <td><label  for="name" style="margin-right: 1%;">Company Email:</label></td>
        <td> 
            <mat-form-field appearance="fill" style="width: 310px;">
                <input matInput formControlName="CompanyEmail" readonly="true" >
              </mat-form-field>
        </td>
      </tr>
      <tr>
        <td><label  for="name" style="margin-right: 1%;">Description:</label></td>
        <td> 
            <mat-form-field appearance="fill" style="width: 310px;">
                <textarea matInput formControlName="Description" readonly="true" ></textarea>
              </mat-form-field>
        </td>
      </tr>
      <tr *ngIf="FileDetails[0] != undefined">
        <td><label for="file" style="margin-right: 1%;">Procurement Quote: </label></td>
        <td>
              <a id="btnLink" (click)="openPDFInNewTab(0)" target="_blank" >{{FileDetails[0].FileName}}</a> 
        </td>
       </tr>
    </table>
    <br> 
  </div>
       
      </mat-tab>
    </form>      
    </mat-tab-group>
    <div  style="background-color: white;display: flex;border-left:1px solid #244688;border-right:1px solid #244688;border-bottom:1px solid #244688;">
        <button mat-raised-button style="margin:1%; display: flex; align-items: center; font-size: 16px; width: 170px;background-color: #244688;color: white;" (click)="AcceptRequest()"> Accept Request</button>
        <button mat-raised-button id="btnHover" style="margin:1%; display: flex; align-items: center; font-size: 16px; width: 170px;" (click)="RejectRequest()"> Reject Request </button>
     </div>
    </div>
 </div>
  </div>
</div>

</div>
